body{
    font-family: 'Roboto Slab', serif;
    font-family: 'Signika', sans-serif;
    margin: 0%;
}

.Color{
    color: darkorange;
}
h1{
    font-size: 50px;
    line-height: 30px;
}

.Top {
        border-left:3px solid;
        border-color:red;
        border-image-slice: 1.5;
        margin-left: 10%;
        margin-top: 25%;
}
.half-width{
    width: 50%;
    padding-left: 3%;
}

.half-width img{
    margin-right: 20%;
    width: 60%;

}
#top-para{
    margin-left: 10%;
    margin-right:40%;
    text-align: justify;

}
#para-scroll{
    margin-left: 10%;
    margin-right:40%;
    margin-top: 5%;
    text-align: justify;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    background-color:salmon,;
    color: white;
    font-weight: 600;
    padding: 10px 40px;
    border-radius: 5px;
    margin-left: 10%;
}
h2{
    font-size: 45px;
    font-family:Arial, Helvetica, sans-serif;
    text-align:center;

}

#Mission{
    width: 20%;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: justify;
    border-radius: 30px;
    background-color:rgba(197, 212, 218, 0.404);
    margin-left:9%;
    margin-top:1%;
}
#vission{
    width: 20%;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: justify;
    border-radius: 30px;
    background-color:rgba(207, 150, 177, 0.404);
    margin-left:1%;
    margin-top:1%;
}
#goal{
    width: 20%;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: justify;
    border-radius: 30px;
    background-color:rgba(197, 193, 130, 0.404);
    margin-left:1%;
    margin-top:1%;
}

#Mission img{
    width: 50%;
}
#vission img{
    width: 50%;
}
#goal img{
    width: 50%;
}

.middle-banner{
    background-image: url(images/shapes/middle-banner.jpg);
    background-repeat: no-repeat;
    background-position: right;
}
.third-banner{
    background-image: url(images/shapes/third-banner.jpg);
    background-repeat: no-repeat;
    background-position: left;
}
h3{
    
    margin-top: 15%;
    font-size: 40px;
    line-height: 0px
}

.third-para{
    margin-right:25%;
    text-align: justify;
}

.read-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    background-color:salmon,;
    color: white;
    font-weight: 600;
    padding: 10px 40px;
    border-radius: 5px;
    margin-left: 0%;
}

.picture-third img{
    width: 65%;
    margin-left: 30%;

}
h4{
    margin-top: 15%;
    font-size: 40px;
    line-height: 0%;

}
.fourth-para{
    margin-left:12%;
    text-align: justify;
}
.picture-fourth img{
    width: 50%;
    margin-Right: 30%;
    margin-left: 20%;
}

footer p{
    text-align: center;
    padding-bottom: 3%;
}

footer h1{
    padding-top: 3%;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
#coloer-footer-header{
    color:lightcoral;
}
#coloer-footer-black{
    color:white;
}
footer{
    background: black;
}